@page
@{
    string name = "";
//  if (Request.HasFormContentType) {
    if (HttpRequest.Method=="POST") {
        <p>Form posted!</p>
//      name = Request.Form["nama"];
    }
}


    <form method="post">
        <div>Name: <input type="text" name="nama" /></div>
        <div><input type="submit" value=" Press " /></div>
    </form>