@page
@{
    string name = "";
    if (Request.HasFormContentType)
    {
        name = Request.Form["nama"];
    }
}


    <form method="post">
        <div>Name: <input type="text" name="nama" /></div>
        <div><input type="submit" value=" Press " /></div>
    </form>

<p>@name</p>