@model IndexModel
@{
}

<h2>Separate page model</h2>
<p>@Model.Message</p>


<!-- Shown below are the two extra lines that originally appear before the  'ampersand-model IndexModel' line.  -->
<!-- ampersand-page                           -->
<!-- ampersand-using LearnRazorPages.Pages    -->