@{
  string totalMessage = "";
  if(IsPost) {
    string num1 = Request["text1"];
    string num2 = Request["text2"];
    uint n1_len = num1.Length;
    uint n2_len = num2.Length;
    uint total = num1.AsInt() + num2.AsInt();
    totalMessage = "Total = " + total.ToString();
  }
}

<form action="" method="post">
<p><label for="text1">First Number:</label><br>
<input type="text" name="text1" /></p>
<p><label for="text2">Second Number:</label><br>
<input type="text" name="text2" /></p>
<p><input type="submit" value=" Add " /></p>
</form>

<p>@totalMessage</p>
Length of 1st number: @n1_len<br>
Length of 2nd number: @n2_len<br>