@model ErrorViewModel
@{
}

<h2>Separate page model</h2>
<p>@Model.Message</p>
<p>@Model.abc</p>

<form action="" method="post">
<p><input type="submit" value=" Increment " /></p>
</form>



<!-- Below are the 3 original directives that I first used when I started PageModel coding. They don't work.  -->
<!-- At first, even if I included the  'ampersand-page'  directive, the  'NullReferenceException'  run-time error still occurs (even there is no compilation error).    -->
<!-- ampersand-page                           -->
<!-- ampersand-using LearnRazorPages.Pages    -->
<!-- ampersand-model IndexModel               -->