@{
  int x = 0xffffffff;   // browser displays value  '4,294,967,295'  for "x" variable here.
  int y;
  int z;
  y = x + 1;    // browser displays value '0' for "y" variable here, because overflow happens.
  z = x + 2;    // browser displays value '1' for "z" variable here, because overflow happens.
}


<p>x = @x</p>
y = @y<br>
z = @z<br>