@model ErrorViewModel
@{
}

<h2>Separate page model</h2>
<p>@Model.Message</p>


<!-- Below are the 3 original directives that I first used when I started PageModel coding. They don't work.  -->
<!-- ampersand-page                           -->
<!-- ampersand-using LearnRazorPages.Pages    -->
<!-- ampersand-model IndexModel               -->