@page
@{
    @functions{
        public string Message { get; set; }

        public void OnGet()
        {   <p>Get-Used</p>
            Message = "Get Used";
        }

        public void OnPost()
        {   <p>Post-Used</p>
            Message = "Post used";
        }
    }
}


<h3>@Message</h3>
<form method="post"><button class="btn btn-default">Click to post</button></form>
<p><a href="/handlerexample" class="btn btn-default">Click to Get</a></p>