@page
@using app.Controllers
@{
}





<br>
loopcount: @HomeController.loopcount
<br>
NONCE result: @HomeController.result
<br>
HttpGet string:
<br>
BtcVoid:
<br><br> 


    <form method="post">
        Name:  <input name="name" />   <br />
        Sound: <input name="sound" />  <br />
        <button>Add Cat</button>
    </form>