<html>
  <head>
    <title>Testing HTML</title>
  </head>


<body>

<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/firstloop">one ... firstloop</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/firstloop">two ... firstloop</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/checkalive">one ... checkalive</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/checkalive">two ... checkalive</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/stop">one ... STOP!!</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/stop">two ... STOP!!</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/btc">one ... generate Hash</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/btc">two ... generate Hash</a>
<BR><BR><BR>



<form action="http://two-mainnhubb.d800.free-int.openshiftapps.com/btc" method="get">
<!--     <p>First Number: <input type="text" name="text1" /></p>     -->
<!--     <p>Second Number:<input type="text" name="text2" /></p>     -->
<p><input type="submit" value="12M Hash" /></p>
</form>

<form action="http://one-mainnhubb.d800.free-int.openshiftapps.com/btc" method="get">
<p><input type="submit" value="48M Hash" /></p>
</form>


    <form action="http://one-mainnhubb.d800.free-int.openshiftapps.com" method="post">
        Name:  <input name="name" />   <br />
        Sound: <input name="sound" />  <br />
        <button>Add Cat</button>
    </form>






<script>
/*  If you want to simulate someone clicking on a link, use:    location.href
    If you want to simulate an HTTP redirect, use:              location.replace     */

/*  window.location.href = 'http://one-mainnhubb.d800.free-int.openshiftapps.com/btc';    */
/*  window.location.replace('http://two-mainnhubb.d800.free-int.openshiftapps.com/btc');  */
</script>

</body>




</html>