<html>
  <head>
    <title>Testing HTML</title>
  </head>


<body>

<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/firstloop">one ... firstloop</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/firstloop">two ... firstloop</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/checkalive">one ... checkalive</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/checkalive">two ... checkalive</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/stop">one ... STOP!!</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/stop">two ... STOP!!</a>
<BR><BR>
<a href="http://one-mainnhubb.d800.free-int.openshiftapps.com/btc">one ... generate Hash</a>
<BR>
<a href="http://two-mainnhubb.d800.free-int.openshiftapps.com/btc">two ... generate Hash</a>
<BR><BR><BR>



<form action="http://two-mainnhubb.d800.free-int.openshiftapps.com/btc" method="get">
<!--     <p>First Number: <input type="text" name="text1" /></p>     -->
<!--     <p>Second Number:<input type="text" name="text2" /></p>     -->
<p><input type="submit" value="12M Hash" /></p>
</form>

<form action="http://one-mainnhubb.d800.free-int.openshiftapps.com/btc" method="get">
<p><input type="submit" value="48M Hash" /></p>
</form>


    <form action="http://one-mainnhubb.d800.free-int.openshiftapps.com" method="post">
        Name:  <input name="name" />   <br />
        Sound: <input name="sound" />  <br />
        <button>Add Cat</button>
    </form>






<script>
/*  If you want to simulate someone clicking on a link, use:    location.href
    If you want to simulate an HTTP redirect, use:              location.replace     */

/*  window.location.href = 'http://one-mainnhubb.d800.free-int.openshiftapps.com/btc';    */
/*  window.location.replace('http://two-mainnhubb.d800.free-int.openshiftapps.com/btc');  */
</script>




<BR><BR>
<a href="http://cs-fgush2.1d35.starter-us-east-1.openshiftapps.com">cs-fgush2</a>
<BR>
<a href="http://doe-fgush2.1d35.starter-us-east-1.openshiftapps.com">doe-fgush2</a>
<BR>
<a href="http://pric-apple3.7e14.starter-us-west-2.openshiftapps.com">pric-apple3</a>
<BR>
<a href="http://user-apple3.7e14.starter-us-west-2.openshiftapps.com">user-apple3</a>
<BR>
<a href="http://wha-whaxab1.193b.starter-ca-central-1.openshiftapps.com">wha-whaxab1</a>
<BR>
<a href="http://xab-whaxab1.193b.starter-ca-central-1.openshiftapps.com">xab-whaxab1</a>
<BR>
<a href="http://kktan-pisang0.a3c1.starter-us-west-1.openshiftapps.com">kktan-pisang0</a>
<BR>
<a href="http://winny-pisang0.a3c1.starter-us-west-1.openshiftapps.com">winny-pisang0</a>
<BR>
<a href="http://east-epal4.193b.starter-ca-central-1.openshiftapps.com">east-epal4</a>
<BR>
<a href="http://fsgo-epal4.193b.starter-ca-central-1.openshiftapps.com">fsgo-epal4</a>
<BR>
<a href="http://first-my5proj.193b.starter-ca-central-1.openshiftapps.com">first-my5proj</a>
<BR>
<a href="http://second-my5proj.193b.starter-ca-central-1.openshiftapps.com">second-my5proj</a>
<BR>
<a href="http://ack-pear6.7e14.starter-us-west-2.openshiftapps.com">ack-pear6</a>
<BR>
<a href="http://boo-pear6.7e14.starter-us-west-2.openshiftapps.com">boo-pear6</a>
<BR>
<a href="http://norm-re7ar.193b.starter-ca-central-1.openshiftapps.com">norm-re7ar</a>
<BR>
<a href="http://pick-re7ar.193b.starter-ca-central-1.openshiftapps.com">pick-re7ar</a>
<BR>
<a href="http://afe-patt8.7e14.starter-us-west-2.openshiftapps.com">afe-patt8</a>
<BR>
<a href="http://boy-patt8.7e14.starter-us-west-2.openshiftapps.com">boy-patt8</a>
<BR>
<a href="http://kit-semb9.a3c1.starter-us-west-1.openshiftapps.com">kit-semb9</a>
<BR>
<a href="http://tty-semb9.a3c1.starter-us-west-1.openshiftapps.com">tty-semb9</a>
<BR>
<a href="http://cru-sep10.1d35.starter-us-east-1.openshiftapps.com">cru-sep10</a>
<BR>
<a href="http://doc-sep10.1d35.starter-us-east-1.openshiftapps.com">doc-sep10</a>
<BR>
<a href="http://gul-e11e.1d35.starter-us-east-1.openshiftapps.com">gul-e11e</a>
<BR>
<a href="http://zar-e11e.1d35.starter-us-east-1.openshiftapps.com">zar-e11e</a>
<BR>
<a href="http://chi-twe12.a3c1.starter-us-west-1.openshiftapps.com">chi-twe12</a>
<BR>
<a href="http://goh-twe12.a3c1.starter-us-west-1.openshiftapps.com">goh-twe12</a>
<BR>
<a href="http://bad-badluc13.1d35.starter-us-east-1.openshiftapps.com">bad-badluc13</a>
<BR>
<a href="http://luc-badluc13.1d35.starter-us-east-1.openshiftapps.com">luc-badluc13</a>
<BR>
<a href="http://kis-kissin14.a3c1.starter-us-west-1.openshiftapps.com">kis-kissin14</a>
<BR>
<a href="http://sin-kissin14.a3c1.starter-us-west-1.openshiftapps.com">sin-kissin14</a>
<BR>
<a href="http://fif-fif15tee.a3c1.starter-us-west-1.openshiftapps.com">fif-fif15tee</a>
<BR>
<a href="http://tee-fif15tee.a3c1.starter-us-west-1.openshiftapps.com">tee-fif15tee</a>
<BR>
<a href="http://ssx-ssx16tek.1d35.starter-us-east-1.openshiftapps.com">ssx-ssx16tek</a>
<BR>
<a href="http://tek-ssx16tek.1d35.starter-us-east-1.openshiftapps.com">tek-ssx16tek</a>
<BR>
<a href="http://chu-chulxa17.1d35.starter-us-east-1.openshiftapps.com">chu-chulxa17</a>
<BR>
<a href="http://lxa-chulxa17.1d35.starter-us-east-1.openshiftapps.com">lxa-chulxa17</a>
<BR>
<a href="http://eig-eighte18.a3c1.starter-us-west-1.openshiftapps.com">eig-eighte18</a>
<BR>
<a href="http://hte-eighte18.a3c1.starter-us-west-1.openshiftapps.com">hte-eighte18</a>
<BR>





</body>
</html>