<html>
  <head>
    <title>Testing HTML</title>
  </head>


<body>

<a href="http://one-one.d800.free-int.openshiftapps.com/btc">48 million hash</a>
<BR>
<a href="http://two-one.d800.free-int.openshiftapps.com/btc">12 million hash</a>
<BR>


<form action="http://two-one.d800.free-int.openshiftapps.com/btc" method="get">
<!--     <p>First Number: <input type="text" name="text1" /></p>     -->
<!--     <p>Second Number:<input type="text" name="text2" /></p>     -->
<p><input type="submit" value="12M Hash" /></p>
</form>

<form action="http://one-one.d800.free-int.openshiftapps.com/btc" method="get">
<p><input type="submit" value="48M Hash" /></p>
</form>






<script>
/*  If you want to simulate someone clicking on a link, use:    location.href
    If you want to simulate an HTTP redirect, use:              location.replace     */

/*  window.location.href = 'http://one-one.d800.free-int.openshiftapps.com/btc';    */
/*  window.location.replace('http://two-one.d800.free-int.openshiftapps.com/btc');  */
</script>

</body>




</html>